node_modules/
dist/
.DS_Store
*.log
android/.gradle/
android/local.properties
android/**/build/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/capacitor-cordova-android-plugins/
ios/App/App/public/
ios/App/App/capacitor.config.json
ios/App/Pods/
ios/DerivedData/
ios/capacitor-cordova-ios-plugins/
*.xcuserstate
xcuserdata/
*.keystore
*.jks
*.p12
*.mobileprovision
artifacts/
